/* Variables and mixins declared here will be available in all other SCSS files */
$mobile: 550px;
$desktop: 1024px;
$large: 1200px;
$extra-large: 950px;

$projectWidth: 550px;
$projectWidthMobile: 440px;
$bigProjectWidth: 950px;